
@using Models.Motion
@model IEnumerable<Ports>
@using Pd.Api.BootstrapSupport

<div class="page-header">
    <h3>
        <label ty class="label label-info">
            BACKMODULAR
        </label>
    </h3>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-4">

            <div class="member-item">
                <div class="thumb">
                    <img src="~/Script/Front/images/team/member-1.jpg" alt="Tracy - Web Designer">
                </div>
                <h4>@item.PortsName</h4>
                <span>
                    @Ajax.ActionLink("Details", "PortDetail", "PPort", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "Main_2" })
                </span>
            </div> <!-- /.member-item -->


        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-4">

            <div class="member-item">
                <div class="thumb">
                    <img src="~/Script/Front/images/team/member-1.jpg" alt="Tracy - Web Designer">
                </div>
                <h4>@item.PortsName</h4>
                <span>@Ajax.ActionLink("Details", "PortDetail", "PPort", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "Main_2" })</span>
            </div> <!-- /.member-item -->


        </div> <!-- /.col-md-4 -->
        <div class="col-md-4 col-sm-4">

            <div class="member-item">
                <div class="thumb">
                    <img src="~/Script/Front/images/team/member-1.jpg" alt="Tracy - Web Designer">
                </div>
                <h4>@item.PortsName</h4>
                <span>@Ajax.ActionLink("Details", "PortDetail", "PPort", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "Main_2" })</span>
            </div> <!-- /.member-item -->


        </div> <!-- /.col-md-4 -->
    }
</div> <!-- /.row -->