
@using Models.Motion
@model IEnumerable<Coefficient>
@using Pd.Api.BootstrapSupport
@using Pd.Api.Helper;
@using System.Reflection

<div class="toggle-content text-center" id="tab4">
    <h3>详细</h3>
    <p>
        备注
        <br><br>Donec mattis enim sit amet nisl faucibus, eu pulvinar nibh facilisis. Aliquam erat volutpat. Vivamus tempus, nisi varius imperdiet molestie, velit mi feugiat felis, sit amet fringilla mi massa sit amet arcu. Mauris dictum nisl id felis lacinia congue. Aliquam lectus nisi, sodales in lacinia quis, lobortis vel sem. Vestibulum elit nisi, placerat eget auctor ut, dictum at libero.
    </p>
</div>

<div class="toggle-content text-center" id="tab4">
    @using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "Result" }))
    {
        <div class="form-group">
            <h3>
                 @((ViewBag.ports as Ports).PortsName) 接口
            </h3>
        </div>
        <hr />

       foreach (var item in Model.ToList())
       {
        <div class="form-group">
            <label for="exampleInputAount7" class="col-sm-2 control-label">@item.CoffiName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="@item.CoeffiCode" name="@item.CoeffiCode" placeholder="UserName" value="">
            </div>
        </div>


       }
        <hr />

        <div class="form-group">
            <label for="exampleInputAount7" class="col-sm-2 control-label">请求url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="exampleInputAount7" placeholder="UserName" value="@((ViewBag.ports as Ports).PortsIp)@((ViewBag.ports as Ports).PortsAddress)">
                <input type="text" id="url" name="url" value="@((ViewBag.ports as Ports).PortsIp)@((ViewBag.ports as Ports).PortsAddress)" />
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputAount7" class="col-sm-2 control-label">请求方式</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="PortsType" name="PortsType" placeholder="UserName" value="@((ViewBag.ports as Ports).PortsType)">
            </div>
        </div>

        if ((ViewBag.ports as Ports).IsPag==true)
        {
            <div class="form-group">
                <label for="exampleInputAount7" class="col-sm-2 control-label">请求页码</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pageIndex" name="pageIndex" placeholder="UserName" value="1">
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputAount7" class="col-sm-2 control-label">请求方式</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pageSize" name="pageSize" placeholder="UserName" value="10">
                </div>
            </div>
        }


        <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
   }
    
</div>

<div  id="Result">

</div>

